<div class="mb-5">
    <h1 class="lead display-6">Comments</h1>
    <hr>

    <% if(post.comments.length === 0) { %>
        <div><p class="lead display-7 d-flex justify-content-center">No comments on this post</p></div>
    <% } else { %>

        <% post.comments.forEach((comment) =>  { %>
            <div>
                <div class="row comment mt-2">
                        <div class="col-10">
                            <div class="name"><b><%= comment.author %></b></div>
                            <div><%= comment.body %></div>
                        </div>
    
                        <% if (user && comment.commentedBy.equals(user.id)) { %>
                            <div class="col-1">
                                <button class="edit-btn" onclick="window.location.href='<%= post.id %>/edit/comments/<%= comment.id %>';">
                                    ✏️
                                </button>
            
                                <form action="/posts/<%= post.id %>/comments/<%= comment.id %>?_method=DELETE" method="post" class="d-inline">
                                    <button type="submit" class="del-btn"><i class="fa fa-trash"></i></button>
                                </form>
                            </div>
                        <% } %>
                </div>
            </div>
        <% }) %>
    <% } %>
</div>