<div class="mb-5">
    <h1>Comments</h1>
    <% post.comments.forEach((comment) =>  { %>
        <hr>
        <div>
            <div class="row">
                <div class="col-10">
                    <div class="name"><b><%= comment.author %></b></div>
                    <p><%= comment.body %></p>
                </div>

                <div class="col-2">
                    <!-- <a class="edit-btn" href="/posts/<%= post.id %>/edit/comments/<%= comment.id %>"><i class='fas fa-pen'></i></a> -->

                    <button class="edit-btn" onclick="window.location.href='<%= post.id %>/edit/comments/<%= comment.id %>';">
                        <i class='fas fa-pen'></i>
                    </button>

                    <form action="/posts/<%= post.id %>/comments/<%= comment.id %>?_method=DELETE" method="post" class="d-inline">
                        <button type="submit" class="del-btn"><i class='fas fa-trash'></i></button>
                    </form>
                </div>
    
            </div>
        </div>
    <% }) %>
</div>