<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel='stylesheet' href='/css/eventSlider.css'/> -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    
    <style>

      .calender {
        height: 50px;
        width: 50px;
        text-align: center;
        border: 0.5px solid grey;
        border-radius: 5px;
      }

      .calender .month {
        height: 25px;
        background-color: dodgerblue;
        color: white;
        border-bottom: 0.1px solid grey;
        align-content: center;
        justify-content: center;
      }

      .nav-fill li.nav-item a {

        color: black;
        font-weight: 700;
        border: 0.25px solid #00000052;
        padding: 3%;
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 5px 5px #00000038;
      }
      /*---------- hover -------- */
      .nav-fill li.nav-item a:hover {
        color: white;
        background: tomato;
        border-radius: 5px;
      } 

      /* --------- active --------- */
      a.active.show {
        background: coral;
        color: white !important;
      }

      .tab-content {
        margin-top: 5%;
      }

      .tab-content .tab-pane {
        display: none;
      }

      .tab-content .active {
        display: block;
      } 

      .nav .nav-item a.active.show {
        background-color: orangered;
      }

    </style>
</head>

<body>
<br><br>
    <div class="container">
          <h1>Events</h1>
        
          <ul class="row mt-2 nav nav-pills nav-fill justify-content-center">
            <li class="col-md-4 col-sm-12 mt-2 nav-item"><a class="nav-link active show" data-toggle="pill"  href="#menu3"> Ongoing Events </a></li>
            <li class="col-md-4 col-sm-12 mt-2 nav-item"><a class="nav-link" data-toggle="pill"  href="#menu1"> Upcoming Events </a></li>
            <li class="col-md-4 col-sm-12 mt-2 nav-item"><a class="nav-link" data-toggle="pill"  href="#menu2"> Past Events </a></li>
          </ul>

          <div class="tab-content">
            <div id="menu1" class="tab-pane fade" style="margin-top: 20px;">
              <% if(upcoming_events.length === 0) {%>
                <div class="col-10 ml-3" style="margin-left: 8%;padding-left: 10%;">
                  <p> No Upcoming Events</p>
                </div>
              <% } else { %>
                <hr/>
              <% } %>
              <% for(var i=0;i<upcoming_events.length;i++) { %>
                <div class="row">
                  <div class="col-2">
                      <div class="calender mt-2">
                        <div class="month"><%= months.upcoming_months[i] %></div>
                        <div class="date"><%= dates.upcoming_dates[i] %></div>
                      </div>
                  </div>
                  <div class="col-9">
                      <h5><%= upcoming_events[i].name %></h5>
                      <p><%= upcoming_events[i].tag %></p>
                  </div>
                  <hr/>
                </div>
              <% } %>
            </div>

            <div id="menu2" class="tab-pane fade" style="margin-top: 20px;">
              <% if(past_events.length === 0) {%>
                <div class="col-10 ml-3" style="margin-left: 8%;padding-left: 10%;">
                  <p> No past Events</p>
                </div>
              <% } else { %>
                <hr/>
              <% } %>
              <% for(var i=0;i<past_events.length;i++) { %>
                <div class="row">
                  <div class="col-2">
                      <div class="calender mt-2">
                        <div class="month"><%= months.past_months[i] %></div>
                        <div class="date"><%= dates.past_dates[i] %></div>
                      </div>
                  </div>
                  <div class="col-9">
                      <h5><%= past_events[i].name %></h5>
                      <p><%= past_events[i].tag %></p>
                  </div>
                  <hr/>
                </div>
              <% } %>
            </div>

            <div id="menu3" class="tab-pane fade active show" style="margin-top: 20px;">
              <% if(ongoing_events.length === 0) {%>
                <div class="col-10 ml-3" style="margin-left: 8%;padding-left: 10%;">
                  <p> No Ongoing Events</p>
                </div>
              <% } else { %>
                <hr/>
              <% } %>
              <% for(var i=0;i<ongoing_events.length;i++) { %>
                <div class="row">
                  <div class="col-2">
                      <div class="calender mt-2">
                        <div class="month"><%= months.ongoing_months[i] %></div>
                        <div class="date"><%= dates.ongoing_dates[i] %></div>
                      </div>
                  </div>
                  <div class="col-9">
                      <h5><%= ongoing_events[i].name %></h5>
                      <p><%= ongoing_events[i].tag %></p>
                  </div>
                  <hr/>
                </div>
              <% } %>
            </div>
          </div>
        </div>
<br><br>
  
</body>
</html>