<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration Form</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="public/css/profile.css">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
    </head>

    <body>
        
      <%- include('../header',{loggedin:loggedIn}); -%>

      <% if(user.profileupdated) { %>
        <div class="container m-6">
          <div class="row mt-5">

            <!-- Image Card -->
            <div class="col-md-4 col-sm-12">
              <div class="sticky-top">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                      <img src="<%=user.profile.image%>" alt="<%= user.username%>'s profile picture" class="rounded-circle" width="150">
                      <div class="mt-3">
                        <% if(others && user.profile.willtohelp) { %>
                          <p class="badge rounded-pill bg-primary">Willing to help</p>
                        <% } %>
                        <h4><%=user.profile.fullname %></h4>
                        <% var edyear = user.profile.batch+4 %>
                        <% if(user.regid){ %>
                          <p class="text-secondary mb-1"><%=user.regid %></p>
                        <% } %>
                        <p class="text-secondary mb-1"><%=user.profile.batch%> to <%= edyear %></p>
                        <p class="text-secondary mb-1"><%=user.profile.course%></p>
                        <% if (others && user.profile.willtohelp) { %>
                          <a class="btn btn-primary mb-3" href="mailto:<%=user.email%>"> contact through Mail</a>
                          <% if (user.profile.linkedin != "None") { %>
                            <a class="btn btn-primary" href="mailto:<%=user.profile.linkedin%>">Contact through LinkedIN</a> 
                          <% } %>
                        <% } %>
                      </div>
                      
                    </div>
                  </div>
                </div>
                  <div class="card">
                    <ul class="list-group list-group-flush">
                      <% if (user.profile.website != "" ){ %>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap mt-1 mb-1">
                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg><span class="m-2">Website</span></h6>
                        <a href="<%=user.profile.website%>" ><span class="text-secondary"><%=user.profile.website%></span></a>
                      </li>
                      <% } %>
                      <% if (user.profile.github != "" ){ %>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap mt-1 mb-1">
                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg><span class="m-2">Github</span></h6>
                        <a href=<%=user.profile.github%> ><span class="text-secondary"><%=user.profile.github%></span></a>
                      </li>
                      <% } %>
                      <% if (user.profile.twitter != "" ){ %>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap mt-1 mb-1">
                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg><span class="m-2">Twitter</span></h6>
                        <a href="<%=user.profile.twitter%>" > <span class="text-secondary"><%=user.profile.twitter%></span></a>
                      </li>
                      <% } %>
                      <% if (user.profile.linkedin != "" ){ %>
                      <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap mt-1 mb-1">
                        <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"/></svg><span class="m-2">LinkedIn</span></h6>
                        <a href="<%=user.profile.linkedin%>" > <span class="text-secondary"><%=user.profile.linkedin%></span></a>
                      </li>
                      <% } %>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Links Card -->
            <div class="col-md-8 col-sm-12 mt-3">
              <!-- <div class="col-12"> -->
                
                  <% if (!others) {%>
                    <div class="row mb-3">
                      <div class="d-flex flex-row-reverse">
                        <a class="btn btn-info" target="__blank" href="/editprofile">Edit</a>
                      </div>
                    </div>
                  <% } %>
                  <% if(user.professionaldetails.length>0 ) { %>
                    <div class="card mb-3 p-2">
                    <h3>Professional Details</h3>
                    <hr>
                    <% for(var i=0;i < user.professionaldetails.length;i++) {%>
                        
                        <div class="card-body m-6">
                            
                            <h4 class="card-title h4 row mb-3">
                              <%= user.professionaldetails[i].title %>
                            </h4>

                            <h6 class="card-subtitle mb-2 text-muted"><%= user.professionaldetails[i].company %>,  <%= user.professionaldetails[i].type %></h6>
                            <h6 class="card-subtitle mb-2 text-muted">
                              <%= user.professionaldetails[i].startdate.month %>, <%= user.professionaldetails[i].startdate.year %> to 
                              <% if(user.professionaldetails[i].enddate.month !=-1) {%>
                                <%= user.professionaldetails[i].enddate.month %>,
                              <%}%>
                              <% if(user.professionaldetails[i].enddate.year) {%>
                                <%= user.professionaldetails[i].enddate.year %>
                              <%}else{%>
                                present
                              <%}%>
                            </h6>
                            <h6 class="card-subtitle mb-2 text-muted"><%= user.professionaldetails[i].location %></h6>
                            
                            
                          </div>
                    <%}%>        
                      </div>
                  <%}%>
                

                  <% if(user.Educationaldetails.length>0) { %>
                    <div class="card mb-3 p-2">
                    <h3>Educational Details</h3>
                    <hr>
                    <% for(var i=0;i < user.Educationaldetails.length;i++) {%>
                        
                        <div class="card-body">
                            
                            <h4 class="card-title row mb-3">
                              <%= user.Educationaldetails[i].school %>
                            </h4>
                            <h6 class="card-subtitle mb-2 text-muted"><%= user.Educationaldetails[i].degree %></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><%= user.Educationaldetails[i].fieldofstudy %></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><%= user.Educationaldetails[i].startdate.month %>, <%= user.Educationaldetails[i].startdate.year %> to <%= user.Educationaldetails[i].enddate.month %>, <%= user.Educationaldetails[i].enddate.year %> </h6>

                          </div>
                    <%}%>        
                      </div>
                  <%}%>

                <h3>personal Information</h3>
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                          <b>About me</b>
                        </div>

                        <div class="col-sm-5">
                          &nbsp;&nbsp;&nbsp;&nbsp;  <%= user.personalinfo.aboutme%>
                        </div>
                      
                      <div class="mb-3"></div>
                      <hr>

                      <div class="row mb-3">
                        <div class="col-sm-3">
                          <b>Date of Birth</b>
                        </div>
                        <div class="col-sm-9">
                          &nbsp;&nbsp;&nbsp;&nbsp; <%= user.personalinfo.dob.toString().substring(3,15)%>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <h3>Contact Details</h3>
                <div class="card mb-3">
                  <div class="card-body">
                    
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                          <%=user.email%>
                      </div>
                    </div>
                    
                    <% if(!others) { %>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Willing to help</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <% if(user.willtohelp) { %>
                            <p> Yes </p>
                          <%} else { %>
                            <p> No </p>
                          <%}%>
                        </div>
                      </div>
                    <% } %>
    
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Phone</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <%=user.contactdetails.phone%>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Address</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                          <%=user.contactdetails.address.city%>,<%=user.contactdetails.address.state%>,<%=user.contactdetails.address.country%>.
                      </div>
                    </div>
                  </div>
                </div>
              <!-- </div> -->

              <!-- <h3>Other Details</h3>
              <div>

              </div> -->
              
          </div>
          
        

            </div>

        </div>
        <% }else {%> 
          <div>Please reload the page</div>
        <%}%>


      
    </div>
  </body>
</html>