<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profiles</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="public/css/profiles.css">

        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
        
    </head>

    <body>
            <%- include('../header',{loggedin:loggedIn}); -%>
            
            <div class="container mt-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                        <div class="bg-white">
                            <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation"> <button class="nav-link active" id="faq_tab_1-tab" data-bs-toggle="tab" data-bs-target="#faq_tab_1" type="button" role="tab" aria-controls="faq_tab_1" aria-selected="true">
                                        <div class="d-flex flex-column lh-lg"> <i class='bx bxs-envelope'></i> <span>Name & Email</span> </div>
                                    </button> </li>
                                <li class="nav-item" role="presentation"> <button class="nav-link" id="faq_tab_2-tab" data-bs-toggle="tab" data-bs-target="#faq_tab_2" type="button" role="tab" aria-controls="faq_tab_2" aria-selected="false">
                                        <div class="d-flex flex-column lh-lg"> <i class='bx bxs-food-menu'></i> <span>Course & Year</span> </div>
                                    </button> </li>
                                <li class="nav-item" role="presentation"> <button class="nav-link" id="faq_tab_3-tab" data-bs-toggle="tab" data-bs-target="#faq_tab_3" type="button" role="tab" aria-controls="faq_tab_3" aria-selected="false">
                                        <div class="d-flex flex-column lh-lg"> <i class='bx bxs-location-plus'></i> <span>Location</span> </div>
                                    </button> </li>
                                <li class="nav-item" role="presentation"> <button class="nav-link" id="faq_tab_4-tab" data-bs-toggle="tab" data-bs-target="#faq_tab_4" type="button" role="tab" aria-controls="faq_tab_4" aria-selected="false">
                                        <div class="d-flex flex-column lh-lg"> <i class='bx bxs-business'></i> <span>Company</span> </div>
                                    </button> </li>
                                <li class="nav-item" role="presentation"> <button class="nav-link" id="faq_tab_5-tab" data-bs-toggle="tab" data-bs-target="#faq_tab_5" type="button" role="tab" aria-controls="faq_tab_5" aria-selected="false">
                                    <div class="d-flex flex-column lh-lg"> <i class='bx bxs-graduation'></i> <span>Post Graduation</span> </div>
                                </button> </li>
                            </ul>
                                <div class="tab-content" id="myTabContent">

                                    
                                        <div class="tab-pane fade active show" id="faq_tab_1" role="tabpanel" aria-labelledby="faq_tab_1-tab">
                                            
                                            <div class="container p-3">
                                                <form action="/profile/all" method="post">
                                                    <div class="row">
                                                        <input type="hidden" value="name_role" name="filterprop">
                                                        <div class="col-md-6 col-sm-12">
                                                            <div class="input-group mb-3"> 
                                                                <input type="text" class="form-control" name="nameoremail" value="" placeholder="Name or Email">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12">
                                                            <div class="input-group mb-3"> 
                                                                <select class="form-select form-control" name="role" id="inputGroupSelect02">
                                                                    <option selected value="">Select role</option>
                                                                    <option value="student">Student</option>
                                                                    <option value="alumni">Alumni</option>
                                                                    <option value="lecturer">Lecturer</option>
                                                                </select> 
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-3">
                                                        <div class="mt -4 d-flex justify-content-end" id="remove">
                                                            <div class="m-3"> <input class="btn btn-success custom-button px-5" type="submit" value="Add Filter"> </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            
                                        </div>
                                    

                                    <div class="tab-pane fade" id="faq_tab_2" role="tabpanel" aria-labelledby="faq_tab_2-tab">
                                        <div class="container p-3">
                                            <form action="/profile/all" method="post">
                                                <div class="row">
                                                    <input type="hidden" value="year_course"  name="filterprop">
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="input-group mb-3"> 
                                                            <div class="input-group mb-3"> <input type="text" class="form-control" name="year"  value="" placeholder="year">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <div class="input-group mb-3"> <select class="form-select form-control" name="course" id="inputGroupSelect02">
                                                                <option value="" selected>Select Course</option>
                                                                <option value="cse">CSE</option>
                                                                <option value="ece">ECE</option>
                                                                <option value="it">IT</option>
                                                            </select> </div>
                                                    </div>
                                                    
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="mt-0 d-flex justify-content-end" id="remove">
                                                        <div class="m-3"> <input class="btn btn-success custom-button px-5" type="submit" value="Add Filter"> </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="faq_tab_3" role="tabpanel" aria-labelledby="faq_tab_3-tab">
                                        <div class="container">
                                            <form action="/profile/all" method="post">
                                                <div class="row p-3">
                                                    <input type="hidden" value="city_country" name="filterprop">
                                                    <div class="col-md-6 col-sm-12"> <input type="text" class="form-control" value="" name="city" placeholder="city"></div>
                                                    <div class="col-md-6 col-sm-12"> <input type="text" class="form-control" value="" name="country" placeholder="country"></div>
                                                    
                                                    <div class="row mb-3">
                                                        <div class="mt -4 d-flex justify-content-end" id="remove">
                                                            <div class="m-3"> <input class="btn btn-success custom-button px-5" type="submit" value="Add Filter"> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="faq_tab_4" role="tabpanel" aria-labelledby="faq_tab_4-tab">
                                        <div class="container p-3">
                                            <form action="/profile/all" method="post">
                                                <div class="row">
                                                    <input type="hidden" value="company_experience" name="filterprop">
                                                    <div class="col-md-6 col-sm-12"> <input type="text" class="form-control" name="company" value="" placeholder="Company Name"></div>
                                                    <div class="col-md-6 col-sm-12"> <input type="number" min="0" max="80" class="form-control" name="experience" value="" placeholder="Experience"></div>

                                                    <div class="row mb-3">
                                                        <div class="mt -4 d-flex justify-content-end" id="remove">
                                                            <div class="m-3"> <input class="btn btn-success custom-button px-5" type="submit" value="Add Filter"> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="faq_tab_5" role="tabpanel" aria-labelledby="faq_tab_5-tab">
                                        <div class="container p-3">
                                            <form action="/profile/all" method="post">
                                                <div class="row">
                                                    <input type="hidden" value="specialization" name="filterprop">
                                                    <div class="col-md-4 col-sm-12"> <input type="text" class="form-control" name="specialization" value="" placeholder="Specialization Course"></div>
                                                    <div class="col-md-4 col-sm-12"> <input type="text" class="form-control" name="college" value="" placeholder="College"></div>
                                                    <div class="col-md-4 col-sm-12"> <input type="text" class="form-control" name="fieldofstudy" value="" placeholder="Field Of Study"></div>

                                                    <div class="row mb-3">
                                                        <div class="mt -4 d-flex justify-content-end" id="remove">
                                                            <div class="m-3"> <input class="btn btn-success custom-button px-5" type="submit" value="Add Filter"> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <% if (filterapplied) {%>
                                    <form class="d-flex justify-content-end" action="/profile/clearfilter" method="get">
                                        <input class="m-0 btn btn-info custom-button" type="submit" value="Clear Filters"> 
                                    </form> 
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        <div class="container m-1">
            <div class="row card-group">
            <% for (var i = 0; i < users.length; i++) { %>
                <% if (users[i].profileupdated ) {%>
                <div class="col-md-3 col-sm-12  m-3 d-flex justify-content-center">
                    <div class="card" onclick="location.href='/profile/<%= users[i].username %>'">  
                        <img src="<%= users[i].profile.image %>" class="card-img-top rounded-circle img-thumbnail" alt="profile_image" height="100px" >
                        <% if(users[i].profile.willtohelp) { %>
                            <p class="badge rounded-pill bg-primary d-flex justify-content-center ">Willing to help</p>
                        <% } %>
                        <div class="card-body">
                            <h5 class="card-title text-center"><%= users[i].profile.fullname %> </h5>
                            
                            <h6 class="card-subtitle text-center text-muted">Batch of <%= users[i].profile.batch %></h6>
                            <h6 class="card-subtitle text-center text-muted"><%= users[i].profile.course %> </h6>
                            
                        </div>
                    </div>
                </div>
            <% }} %>
            </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
