<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify User's</title>

    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <link rel='stylesheet' href='/css/home.css'/> -->

    <style>
        /* h1 {
            margin-top: 30px !important;
        }

        .meta p{
            color: grey;
            font-size: small;
        }

        img {
            max-width:100% !important;
            height: auto !important;
        }
        .card{
            display: inline-flex !important;
        } */

    </style>
</head>
<body>

<%- include('./header',{loggedin:loggedIn}) %>

    <div class="jumbotron text-center">
        <div class="container">
            
            <h1 class="display-3">Give Admin Access</h1>
            
            <div class="row">

                <% Users.forEach((userDetails)=>{ %>
                    <div class="col-xl-1 col-xl-3 col-md-4 col-sm-6 mt-3">
                        <div class="card" >
                            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                            <div class="card-body">
                                    <h5 class="card-title">Username</h5><%= userDetails.username %>
                                <br><br>
                                <% if(userDetails.regid ){ %>
                                    <h5 class="card-title">Registeration Number</h5><%= userDetails.regid %>
                                <br><br>
                                <% } %>
                                <% if(userDetails.personalinfo.dob){ %>
                                    
                                    <h5 class="card-title">Date of Birth</h5><%= userDetails.personalinfo.dob.toString().substring(3,15) %>
                                <br><br>
                                <% } %>
                                
                                <% if(userDetails.profile.batch){ %>
                                    <% var edyear = userDetails.profile.batch+4 %>
                                    <h5 class="card-title">Batch</h5> <%=userDetails.profile.batch%> to <%= edyear %>
                                <br><br>
                                <% } %>
                                
                                <% if(userDetails.profile.course){ %>
                                    <h5 class="card-title">Batch</h5> <%=userDetails.profile.course%> 
                                <br><br>
                                <% } %>
                                <form method="post" action="/dashboard/giveaccess">
                                    <input type="submit" value="Give Access" name="submit">
                                    <input type="hidden" value="<%= userDetails._id %>" name="userid">
                                </form>
                            </div>
                        </div>
                    </div>
                <% }) %>
                
            </div>
                
        </div>
    </div>

<!-- <%- include('./footer') %> -->

</body>
</html>
