<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Connect VVIT - Home</title>


    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
    <link rel='stylesheet' href='/OwlCarousel/dist/assets/owl.carousel.min.css'/>
    <link rel='stylesheet' href='/OwlCarousel/dist/assets/owl.theme.default.min.css'/>
    <link rel='stylesheet' href='/css/home.css'/>

</head>
<body>
    <%- include('header',{loggedin:loggedIn}); -%>
    <%- include('slider'); -%>

    <!-- <center><h1 class="m-4 caption">REUNITE - REMINISCE - RECONNECT</h1></center> -->

    <!-- Posts -->
    <%- include('./posts/postsSlider'); -%>

    <!-- Blog posts -->
    <%- include('./blog/blogSlider'); -%>

    <!-- Recent Events -->
    <%- include('recentevents'); -%>

    <!-- Map -->
    <%- include('map'); -%>
    
    <%- include('footer'); -%>

    <script src="/jquery/dist/jquery.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="OwlCarousel/dist/owl.carousel.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <script>
        // For Post & Blog Slider
        $(document).ready(() => {
            $('.owl-carousel').owlCarousel({
                autoplay: true,
                autoplayhoverpause: true,
                autoplaytimeout: 100,
                items: 4,
                nav: true,
                loop: true,
                responsive: {
                    300: {
                        items: 1
                    },
                    700: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    },
                    1500: {
                        items: 4
                    }
                }
            })
        })
    </script>

</body>
</html>