<div class="container mt-4">
    <div class="section-header mt-2 mb-4">
        <h1>Posts</h1>
        <a class="btn btn-success" href="/posts" role="button"> View all</a>
    </div>
    <div id="post-slider" class="owl-carousel owl-theme">
        <% posts.forEach((post) => { %>

            <div class="post-card card m-2">

                <% if(post.image) { %>
                <img src="<%= post.image %>" class="card-img-top" alt="">
                <% } %>
                
                <div class="card-body">
                  <h5 class="card-title"><%= post.title %></h5>
                  <p class="card-text"><small class="text-muted">By <%= post.author %></small></p>
                  <p class="card-text"><%= post.body.substring(0, 50) %>...</p>
                  <a href="/posts/<%= post.id %>" class="btn btn-primary">Read post</a>
                  <p class="card-text"><small class="mt-4 text-muted">Last updated <%= post.date.toLocaleDateString() %></small></p>
                
                </div>
            </div>

        <% }) %>
    </div>
</div>